.container {
  padding: 1rem;
  min-width: 100%;
}

.header {
  padding: 1rem 0 2rem;
}

.title {
  color: #fbfcfe;
}

.headerBtn {
  color: #fbfcfe;
  margin-right: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
