.container {
  padding: 1rem;
  min-width: 100%;
}

.header {
  padding: 1rem 0 2rem;
}

.title {
  color: var(--color-text);
}

.headerBtn {
  color: var(--color-text);
  margin-right: 8px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid > * {
  flex: 1 1 300px;
  min-width: 0;
}

@media screen and (max-width: 576px) {
  .grid > * {
    flex: 1 1 100%;
  }
}
