.budget-main {
	color: #fff;
	height: 100%;
}

.budget-main > .row {
	height: 100%;
}

.header-title > h5 {
	margin-top: 2.5rem;
}

.category-row {
	margin: 1rem 0;
}

.budget-timeframe {
	text-align: center;
	margin-top: 0.5rem;
	padding: 1rem;
	display: inline-block;
	background-image: url(../../circlesBG.svg);
	background-repeat: no-repeat;
}

.category-type {
	display: inline-block;
	background: linear-gradient(
		325deg,
		rgba(33, 191, 116, 1) 50%,
		rgba(33, 191, 116, 0.5018382352941176) 75%
	);
	padding: 0.25rem 0;
	border-radius: 1rem;
}

.category-icon {
	text-align: center;
	font-size: 2rem;
}

.category-text > h6 {
	margin: 0.25rem 0;
}
.category-text > p {
	margin: 0.25rem 0;
}

.align-right {
	text-align: center;
}

.text-right {
	text-align: right;
}

.transaction-row {
	background-color: rgb(5, 105, 67);
	margin: 0.75rem 0;
	padding: 0.75rem 0 0 0;
	border-radius: 0.75rem;
}

.budget-chart {
	display: inline;
	width: 20rem;
	height: 20rem;
}

.inc-exp-row {
	margin: 2.5rem 0 1rem 0;
}

.exp-btn,
.inc-btn {
	background: none;
	border: 0;
}

.exp-btn:hover,
.inc-btn:hover {
	background: none;
	border: 0;
}

.exp-btn {
	border-bottom: 0.25rem solid rgb(199, 20, 20);
	margin-right: 0.5rem;
}
.inc-btn {
	border-bottom: 0.25rem solid rgb(6, 146, 76);
}

.exp-btn:hover {
	color: rgb(199, 20, 20);
	border-bottom: 0.25rem solid rgb(199, 20, 20);
	/* margin-right: 0.5rem; */
}
.inc-btn:hover {
	color: rgb(6, 146, 76);
	border-bottom: 0.25rem solid rgb(6, 146, 76);
}

.budget-section {
	margin: 2rem 0;
}

.budget-section-col {
	background-color: #272a2f;
}

.category-chart-items {
	padding: 0.5rem;
	margin-top: 4rem;
}

.budget-add-btn {
	background: none;
	border: none;
	position: relative;
	top: -0.75rem;
	font-size: 2rem;
	padding: 0;
	color: #686d77;
}

.budget-add-btn:hover {
	background: none;

	color: #a5a9b3;
}
