.wrapper {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  gap: 16px;
}

.leftPanel {
  flex: 2;
  min-width: 0;
}

.rightPanel {
  flex: 1;
  min-width: 0;
}

.headerRow {
  margin-bottom: 24px;
}

.spinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .headerRow {
    flex-wrap: wrap;
    gap: 8px;
  }
}
