.layout {
  min-height: 100vh;
}

.content {
  padding: 0;
  color: #fbfcfe;
  overflow-y: auto;
}

.spinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
