.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-bg-base);
}

.card {
  width: 400px;
  background: var(--color-bg-card);
  border-radius: 8px;
  padding: 32px;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  color: var(--color-text);
}

.error {
  margin-bottom: 16px;
}

.footer {
  text-align: center;
  margin-top: 16px;
  color: var(--color-text);
}

@media screen and (max-width: 576px) {
  .card {
    width: calc(100% - 32px);
    max-width: 400px;
    padding: 24px 16px;
  }
}
