.incomeDivider {
  border-color: var(--color-success);
  margin: 8px 0;
}

.itemRow {
  margin-bottom: 12px;
}

.textRight {
  text-align: right;
}

.smallText {
  font-size: var(--font-size-xs);
}

.successText {
  color: var(--color-success);
}

.dangerText {
  color: var(--color-danger);
}

.categoryIcon {
  font-size: 20px;
}

.categoryIcon[data-type='income'] {
  color: var(--color-success);
}

.categoryIcon[data-type='expense'] {
  color: var(--color-danger);
}
